.btn {
	display: flex;
	align-items: center;
	margin-right: 10px;
	user-select: none;
	&:hover {
		cursor: pointer;
		color: var(--forLinks)
	}
	&.disabled {
		opacity: 0.8;
		pointer-events: none;
	}
}