.wrapper {
  width: 24px;
  height: 32px;
  opacity: 0.3;
  display: block;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: var(--color1);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}