.wrapper {
	width: 100%;
	margin: 10px 0px;
	.menu {
		user-select: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid var(--additional);
		padding-bottom: 4px;
		.title {
			display: flex;
			margin-left: 14px;
			font-weight: 500;
			font-size: var(--fsz20);
			&.sub {
				font-size: var(--fsz18);
			}
			.icon {
				transform: rotate(90deg);
				margin-right: 10px;
			}
		}
	}
	.content {
		// border-left: 2px dashed var(--bg2);
		padding: 30px;
		&.sub {
			padding: 20px 20px;
		}
	}
}