.wrapper {
	width: 100%;
	padding: 10px 20px;
	border: 2px solid var(--additional);
	border-radius: 20px;
	margin: 20px 0;
	&.used {
		background-color: var(--bg2);
	}
	.menu {
		border-bottom: 2px dashed var(--additional);
		padding: 6px 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		opacity: 0.8;
		&:hover {
			cursor: pointer;
		}
		&.active {
			opacity: 1;
		}
		.left, .right {
			display: flex;
		}
		.left {
			display: flex;
			align-items: center;
			.title {
				font-weight: 500;
				margin-left: 8px;
			}
			.status {
				margin-left: 6px;
				font-size: var(--fsz14);
			}
		}
		.right {
			display: flex;
			align-items: center;
			.downIcon {
				margin-left: 10px;
				font-size: var(--fsz20);
				font-weight: 500;
				transform: rotate(90deg);
				&.active {
					transform: rotate(-90deg);
				}
			}
		}
	}
	.content {
		padding: 30px 10px;
		display: none;
		flex-wrap: wrap;
		.contentTitle {
			border-bottom: 1px solid var(--additional);
			padding: 4px 10px;
			font-weight: 500;
		}
		.contentValue {
			padding: 4px 10px;
		}
		div {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-basis: 25%;
		}
		&.active {
			display: flex;
		}
	}
}