.addBtn {
	margin-right: 10px;
	padding: 0 9px;
	border-radius: 20px;
	user-select: none;
	&:hover {
		cursor: pointer;
		color: var(--forLinks)
	}
}
.modal {
	.wastes {
		display: flex;
		flex-wrap: wrap;
		.waste {
			padding: 4px 12px;
			margin: 6px 4px;
			flex-grow: 1;
			border: 2px solid var(--additional);
			border-radius: 20px;
			user-select: none;
			&.active {
				color: var(--bg1);
				background-color: var(--color2);
				border-color: var(--color2);
			}
			&:hover {
				border-color: var(--color2);
				cursor: pointer;
			}
		}
	}
}