@mixin upper-hover {
	&:hover {
		color: var(--bg1);
		cursor: pointer;
	}
}

.upper, .lower {
	.container {
		width: 60%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		height: 100%;
	}
}

.upper {
	width: 100%;
	color: var(--additional);
	background-color: var(--color1);
	height: 34px;
}
.lower {
	width: 100%;
	height: 40px;
	background-color: rgba(var(--bg2), .4);
	position: sticky;
	border-bottom: 1px solid var(--additional);
	top: 0;
	left: 0;
}

.upper {
	.container {
		justify-content: space-between;
		.logo {
			@include upper-hover;
			font-weight: 500;
		}
		.routes {
			display: flex;
			.btn {
				@include upper-hover;
				padding: 0 4px;
			}
		}
	}
}

.lower {
	.container {
		align-items: flex-start;
		padding-top: 10px;
		.link {
			&:first-child {
				padding-left: 0;
			}
			&:hover {
				cursor: pointer;
				text-decoration: underline;
				text-decoration-color: var(--forLinks);
				color: var(--forLinks)
			}
			color: var(--color1);
			padding: 0 10px;
		}
	}
}