.wrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0%;
	width: 100vw;
	height: 50px;
	background-color: var(--bg2);
	border-bottom: 2px solid var(--color2);
	.container {
		width: 60%;
		margin: 0 auto;
		height: 100%;
		display: flex;
		align-items: center;
		.logo {
			padding: 0 8px 2px;
			font-size: 22px;
			font-weight: 500;
			display: flex;
			align-items: center;
			position: relative;
			user-select: none;
			.logoIcon {
				font-size: 16px;
				font-weight: 600;
				position: relative;
				color: var(--bg2);
				top: 2px;
				margin: 0px 2px;
				text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
					1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
				position: relative;
				top: 2px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}