@import "../lib/styles/reset.scss";
@import "../lib/styles/fonts.scss";
@import "../lib/styles/elements.scss";
@import "../lib/styles/variables.scss";

body {
  font-family: 'Jost', sans-serif;
  min-width: 1280px;
  background-color: var(--bg1);
  color: var(--color1);
  max-width: 1920px;
  margin: 0 auto;
}

.root {
	min-height: calc(100vh - 106px - 40px);
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}