@import "../lib/styles/reset.scss";
@import "../lib/styles/fonts.scss";
@import "../lib/styles/elements.scss";
@import "../lib/styles/variables.scss";

body {
  font-family: 'Jost', sans-serif;
  min-width: 1280px;
  background-color: var(--bg1);
  color: var(--color1);
}

.root {
	min-height: calc(100vh - 106px);
  position: relative;
  width: 60%;
  margin: 0 auto;
}

// .root:before {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 150px;
//   background: white;
//   background: linear-gradient(0deg, rgba(222,222,222,0) 31%, rgba(207,207,207,0.711922268907563) 100%);
//   position: absolute;
//   top: 0;
//   left: 0;
// }