.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 30px - 60px);
	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.title {
		font-weight: 500;
		font-size: var(--fsz28);
		border-bottom: 2px solid var(--color1);
		padding: 1px 72px 1px 1px;
	}
	.subtitle {
		margin-bottom: 30px;
		padding: 4px 1px;
		.link {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.inputs {
		width: 500px;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		position: relative;
		.error {
			position: absolute;
			bottom: -10px;
			left: 0;
			color: var(--error);
		}
	}
}