.wrapper {
	padding-top: 300px;
	font-size: var(--fsz28);
	width: 60%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	.btn {
		margin-top: 30px;
		font-size: var(--fsz20);
	}
}