.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid var(--additional);
	.btn {
		font-size: var(--fsz18);
		text-align: center;
		margin-bottom: -2px;
		border-bottom: 2px solid var(--additional);
		flex-grow: 1;
		user-select: none;
		&.active {
			font-weight: 500;
			border-color: var(--color2)
		}
		&:hover {
			border-color: var(--color2);
			cursor: pointer;
		}
	}
}

