.object {
	margin: 10px 14px;
	padding: 10px 30px;
	border: 2px solid var(--additional);
	flex-grow: 1;
	user-select: none;
	border-radius: 30px;
	position: relative;
	.name {
		font-weight: 500;
		border-bottom: 1px solid var(--additional);
		display: inline-block;
		padding-right: 20px;
		margin-bottom: 10px;
	}
	.wastes {
		display: flex;
		flex-direction: column;
	}
	&.clickable:hover {
		border-color: var(--color2);
	}
	.removeBtn {
		position: absolute;
		top: 12px;
		right: 14px;
	}
}