.wrapper {
	margin-top: 20px;
	width: 97vw;
	position: absolute;
	left: -31%;
	.columns {
		width: 100%;
		display: flex;
		align-items: stretch;
		.column {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin-right: -2px;
			flex-basis: 9.1%;
			// word-break: break-all;
			padding: 6px 10px;
			border-right: 2px solid var(--additional);
			border-bottom: 2px solid var(--additional);
		}
	}
}