.wrapper {
	margin-top: 20px;
	width: 97vw;
	position: relative;
	left: -35%;
	margin-bottom: 60px;
	border-collapse: collapse;
	td, th {
		border-right: 1px solid var(--additional);
		border-bottom: 1px solid var(--additional);
		padding: 4px 6px;
	}
	th {
		border-width: 2px;
		background-color: var(--bg2);
	}
	tfoot {
		tr td {
			font-weight: 500;
		}
	}
	td.null {
		color: var(--additional)
	}
}